NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_API_PROXY_BASE_URL=/api/proxy
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-in-production
API_URL=http://localhost:3001
AUTH_LOGIN_PATH=/auth/login
AUTH_REFRESH_PATH=/auth/refresh
AUTH_LOGOUT_PATH=/auth/logout
